Repository langningchen/XMOJ-Script, pull requests merged in 2023-10, with the labels that each got.

#575 fix #573
  Update.json
  XMOJ.user.js
Labels: user-script

#576 更换预编译接口，解决奇怪的Compile Error
  Update.json
  XMOJ.user.js
Labels: user-script

#577 修复短消息接受用户显示异常
  Update.json
  XMOJ.user.js
Labels: user-script

#578 修复关闭`将网站中所有“小明”和“我”关键字替换为...`时左上角仍显示为高老师的OJ
  Update.json
  XMOJ.user.js
Labels: user-script

#581 Update SECURITY.md & README.md & index.html
  AddonScript.js
  README.md
  SECURITY.md
  index.html
Labels: website, addon-script

#583 自制图床，讨论区 Ctrl+V 上传图片
  Server/Source/Process.ts
  Server/Source/index.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#586 修复因为严格导致的 @ 不显示
  Update.json
  XMOJ.user.js
Labels: user-script

#588 修复题目中表格线条缺失
  Update.json
  XMOJ.user.js
Labels: user-script
