Repository langningchen/XMOJ-Script, pull requests merged in 2023-09, with the labels that each got.

#272 Spilt the yml
  .github/labeler.yml
  .github/workflows/SetPRLabel.yml
  .github/workflows/UpdateVersion.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#274 Use " instead of ' for string literals
  Server/Source/Security.ts
  Update.json
  XMOJ.user.js
Labels: server

#282 Update index.html
  XMOJ.user.js
  index.html
Labels: website

#286 替换XMOJ为小明的OJ
  Update.json
  XMOJ.user.js
  index.html
Labels: website

#288 add Dependency review
  .github/workflows/Dependency-scan.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#292 add translate.yml
  .github/workflows/translate.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#293 [Feature Request] 讨论多人回复只提醒一次 || [Feature Request] Discussion multi-person reply only reminds once
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: user-script, server

#294 Dev
  .github/workflows/DependencyScan.yml
  .github/workflows/Translate.yml
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
  index.html
Labels: GitHub-related, user-script, website, server

#298 修复URL中的问题 || Fix bug in URL
  Update.json
  XMOJ.user.js
  index.html
Labels: website

#299 Update CI/CD
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/Prerelease.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#302 fix the "MailPopup" #300
  Update.json
  XMOJ.user.js
Labels: user-script

#303 [Feature Request] 发帖前提供预览
  Update.json
  XMOJ.user.js
Labels: user-script

#307 Dev
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Translate.yml
  Update.json
  XMOJ.user.js
  index.html
Labels: GitHub-related, website, user-script

#312 remove xmldom
  Server/package-lock.json
  Update.json
  XMOJ.user.js
Labels: server

#322 使用新版更新日志以适应新的仓库架构
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/DependencyScan.yml
  .github/workflows/PRAutoclose.yml
  .github/workflows/Prerelease.yml
  .github/workflows/SetPRLabel.yml
  .github/workflows/Stale.yml
  .github/workflows/UpdateToRelease.yml
  .github/workflows/UpdateVersion.yml
  Update.json
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
Labels: GitHub-related, update-script, user-script

#326 Delete old and useless update log
  Update.json
  Update/UpdateVersion.js
Labels: update-script

#328 Fix update to release script
  Update/UpdateToRelease.js
Labels: update-script

#332 add greeting
  .github/workflows/greeting.yml
Labels: GitHub-related

#335 避免重复发布
  .github/workflows/Greeting.yml
  Update.json
  Update/UpdateToRelease.js
  XMOJ.user.js
Labels: GitHub-related, update-script, user-script

#338 Reverse the commit log
  Update/UpdateToRelease.js
Labels: update-script

#343 Make OI and ACM rank color same
  Update.json
  XMOJ.user.js
Labels: user-script

#349 AC题目时自动上传标程
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#324 Sync Dev
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/DependencyScan.yml
  .github/workflows/Greeting.yml
  .github/workflows/PRAutoclose.yml
  .github/workflows/Prerelease.yml
  .github/workflows/SetPRLabel.yml
  .github/workflows/Stale.yml
  .github/workflows/UpdateToRelease.yml
  .github/workflows/UpdateVersion.yml
  .gitignore
  Server/Source/Process.ts
  Server/package-lock.json
  Update.json
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
Labels: GitHub-related, update-script, server, user-script

#351 修复无法显示提交代码框
  Update.json
  XMOJ.user.js
Labels: user-script

#356 Langningchen/issue342
  .vscode/settings.json
  Update.json
  XMOJ.user.js
Labels: user-script

#352 Sync Dev
  .vscode/settings.json
  Update.json
  XMOJ.user.js
Labels: user-script

#359 Release to github pages too
  .github/workflows/Release.yml
Labels: GitHub-related

#360 先发一个0.3鼓舞鼓舞士气
  Update.json
  XMOJ.user.js
Labels: user-script

#361 Dev
  .github/workflows/Release.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related, user-script

#373 Create dependabot.yml
  .github/dependabot.yml
Labels: GitHub-related

#377 fix dependabot.yml
  .github/dependabot.yml
Labels: GitHub-related

#378 fix broken links
  .github/ISSUE_TEMPLATE/bug.yml
Labels: GitHub-related

#381 #378 没有改全
  .github/ISSUE_TEMPLATE/feature.yml
Labels: GitHub-related

#382 [Bug] 关于actions
  .github/workflows/PRAutoclose.yml
  .github/workflows/UpdateToRelease.yml
Labels: GitHub-related

#383 fix #375
  Update.json
  XMOJ.user.js
Labels: user-script

#384 Update XMOJ.user.js
  Update.json
  XMOJ.user.js
Labels: user-script

#390 [Bug] Prerelease 炸了
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
Labels: GitHub-related

#391 增加回复时引用并且支持内嵌标签
  Server/Source/Process.ts
  Server/Source/Security.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#408 Better code
  .vscode/settings.json
  Server/Source/Database.ts
  Server/Source/Process.ts
  Server/Source/Security.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#409 使用相对时间
  Update.json
  XMOJ.user.js
Labels: user-script

#411 修复HTML显示失败
  Update.json
  XMOJ.user.js
Labels: user-script

#413 解决时间变为负数
  Update.json
  XMOJ.user.js
Labels: user-script

#416 [Bug] 编辑时有时候自动跳掉
  Update.json
  XMOJ.user.js
Labels: user-script

#417 修复比赛状态页无法上传标程
  Update.json
  XMOJ.user.js
Labels: user-script

#418 使用异步加载用户名，增快加载速度
  Update.json
  XMOJ.user.js
Labels: user-script

#419 编辑预览放在右侧
  Update.json
  XMOJ.user.js
Labels: user-script

#420 [Feature Request] 自动删除标签
  .github/workflows/AutoLabel.yml
  Update/AutoLabel.js
Labels: GitHub-related, update-script

#421 #389
  .github/workflows/AutoLabel.yml
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: GitHub-related, update-script, user-script

#423 增加讨论锁定功能
  Server/Source/Process.ts
  Server/Source/Security.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#424 解决编辑时出现多余的HTML标签
  Update.json
  XMOJ.user.js
Labels: user-script

#425 [Bug] Release 发布的tag有误
  .github/workflows/Prerelease.yml
  Update/AutoLabel.js
Labels: GitHub-related, update-script

#426 Tidy SQL codes
  Server/Source/Initial.sql
  Server/Source/Process.ts
Labels: server

#427 [Feature Request] 减少XMOJ服务器负担
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Server/Source/Security.ts
  Server/Source/index.ts
Labels: server

#429 使用新的讨论API
  Update.json
  XMOJ.user.js
Labels: user-script

#430 解决回复按钮失效与锁定被多次触发导致错误
  Update.json
  XMOJ.user.js
Labels: user-script

#431 修复回复的过滤以及锁定的位置
  Update.json
  XMOJ.user.js
Labels: user-script

#440 add 404.html
  404.html
Labels: website

#439 删掉admin的后台权限
  Server/Source/Process.ts
Labels: server

#433 Dev
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/dependabot.yml
  .github/workflows/AutoLabel.yml
  .github/workflows/PRAutoclose.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .github/workflows/UpdateToRelease.yml
  .vscode/settings.json
  404.html
  CODE_OF_CONDUCT.md
  Server/Source/Database.ts
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Server/Source/Security.ts
  Server/Source/index.ts
  Server/package.json
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: GitHub-related, website, update-script, server, user-script

#451 hash phpsessid
  Server/Source/Process.ts
  Server/package.json
Labels: server

#452 Fix dependabot
  .github/dependabot.yml
Labels: GitHub-related

#455 small website changes
  index.html
Labels: website

#453 Merge Dev
  .github/dependabot.yml
  .github/workflows/Stale.yml
  Server/Source/Process.ts
  Server/package.json
  Update.json
  index.html
Labels: GitHub-related, website, server

#458 Update AutoLabel.yml
  .github/workflows/AutoLabel.yml
Labels: GitHub-related

#459 Change layout of ToggleLockButton
  Update.json
  XMOJ.user.js
Labels: user-script

#463 [Bug] autolabel 炸了
  .github/workflows/AutoLabel.yml
  .gitignore
  404.html
  Update/package.json
Labels: GitHub-related, website, update-script

#464 Dev
  .github/workflows/AutoLabel.yml
  .gitignore
  404.html
  Update.json
  Update/package.json
  XMOJ.user.js
Labels: GitHub-related, website, update-script, user-script

#472 Sitemap test
  .github/workflows/AutoLabel.yml
  .github/workflows/Greeting.yml
  Update/AutoLabel.js
  sitemap-live/0.xml
  sitemap.xml
Labels: GitHub-related, update-script

#476 Master
  Update/AutoLabel.js
Labels: update-script

#480 [Feature Request] Make updateversion `git pull` before pushing
  Update/AutoLabel.js
  Update/UpdateVersion.js
  sitemap-live/0.xml
  sitemap.xml
Labels: update-script

#481 Dev
  Update.json
  Update/AutoLabel.js
  Update/UpdateVersion.js
  sitemap-live/0.xml
  sitemap.xml
Labels: update-script

#483 允许忽略提醒
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: update-script, user-script

#485 增加清除缓存功能
  .github/workflows/DeleteActions.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related, user-script

#486 check if user is author of issue or collaborator
  Update/AutoLabel.js
Labels: update-script

#487 编辑回复时提供预览
  .github/workflows/DeleteActions.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related, user-script

#488 Dev
  .github/workflows/DeleteActions.yml
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: GitHub-related, update-script, user-script

#491 忽略提醒后立刻不显示该提醒
  Server/package.json
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: update-script, server, user-script

#493 [Bug] server炸了
  Server/Source/Process.ts
Labels: server

#494 将讨论中的 @ 放在前端渲染
  Update.json
  XMOJ.user.js
Labels: user-script

#495 hash phpsessid
  Server/Source/Process.ts
Labels: server

#496 Dev
  Server/Source/Process.ts
  Server/package.json
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: update-script, server, user-script

#500 [Bug] @渲染出错
  Server/Source/Process.ts
Labels: server

#501 解决Ctrl+Enter后无法编辑讨论
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#503 更改最后编辑日期的显示方式
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#504 更换预编译接口加快预编译速度
  Update.json
  XMOJ.user.js
Labels: user-script

#505 去除获取他人样例功能
  .github/workflows/AutoLabelIssue.yml
  .github/workflows/AutoLabelPR.yml
  .github/workflows/Daily.yml
  .github/workflows/DependencyScan.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .github/workflows/UpdateToRelease.yml
  .github/workflows/UpdateVersion.yml
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: GitHub-related, update-script, user-script

#506 Dev
  .github/dependabot.yml
  .github/workflows/AutoLabelIssue.yml
  .github/workflows/AutoLabelPR.yml
  .github/workflows/Daily.yml
  .github/workflows/DeleteActions.yml
  .github/workflows/DependencyScan.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .github/workflows/Stale.yml
  .github/workflows/UpdateToRelease.yml
  .github/workflows/UpdateVersion.yml
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: GitHub-related, update-script, server, user-script

#508 Sync Dev
  .github/workflows/CodeQL.yml
Labels: GitHub-related

#510 解决安全问题
  .github/workflows/CodeQL.yml
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: GitHub-related, server, user-script

#511 再次解决安全问题
  Update.json
  XMOJ.user.js
Labels: user-script

#513 解决Cloudflare Turnstile错误
  Update.json
  XMOJ.user.js
Labels: user-script

#516 delete short messages after 14 days
  .DS_Store
  .gitignore
Labels: server

#518 增加预览版标签
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
Labels: update-script, user-script

#519 只删除已读消息
  Server/Source/index.ts
Labels: server

#521 509 feature request 增加favicon
  XMOJ.png
  favicon.ico
  index.html
Labels: website

#522 Update AutoLabel.js
  Update/AutoLabel.js
Labels: update-script

#527 add good first issue
  Update/AutoLabel.js
Labels: update-script

#528 增加讨论板块功能
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#530 [Feature Request]当没有修改userscript时允许pr到master
  .github/workflows/UpdateToRelease.yml
Labels: GitHub-related

#531 Dev
  .github/workflows/CodeQL.yml
  .github/workflows/UpdateToRelease.yml
  .gitignore
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Server/Source/index.ts
  Update.json
  Update/AutoLabel.js
  XMOJ.png
  XMOJ.user.js
  favicon.ico
  index.html
Labels: GitHub-related, website, update-script, server, user-script

#534 解决 AutoLabel 执行失败
  Update/AutoLabel.js
Labels: update-script

#536 fix again
  Update/AutoLabel.js
Labels: update-script

#539 Langningchen/fix-auto-label
  Update/AutoLabel.js
Labels: update-script

#541 Langningchen/fix-auto-label
  Update/AutoLabel.js
Labels: update-script

#547 fix regex
  Update/AutoLabel.js
Labels: update-script

#550 fix regex again
  Update/AutoLabel.js
Labels: update-script

#552 fix regex again
  Update/AutoLabel.js
Labels: update-script

#554 Update AutoLabel.js
  Update/AutoLabel.js
Labels: update-script

#557 解决无法发帖
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: server, user-script

#558 Sync Dev
  Update/AutoLabel.js
Labels: update-script

#559 解决无法在题目板块发布讨论
  Update.json
  XMOJ.user.js
Labels: user-script

#566 允许直接获取数据，而不是申请数据
  Update.json
  XMOJ.user.js
Labels: user-script

#567 修复月赛界面下部缺失
  Update.json
  XMOJ.user.js
Labels: user-script
